src/org/cvrgrid/galaxy/jaxb/schema/Galaxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Sunghee Flores (Johns Hopkins University) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="command">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="interpreter" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="conditional">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param"/>
				<xs:element ref="when" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:attribute name="format" use="required"/>
			<xs:attribute name="name" use="required"/>
			<xs:attribute name="label" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType/>
	</xs:element>
	<xs:element name="help" type="xs:string"/>
	<xs:element name="inputs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="conditional"/>
				<xs:element ref="param" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="option">
		<xs:complexType>
			<xs:attribute name="value" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="outputs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="data" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required"/>
			<xs:attribute name="type" use="required"/>
			<xs:attribute name="label" use="required"/>
			<xs:attribute name="value" use="required"/>
			<xs:attribute name="help" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tool">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="command"/>
				<xs:element ref="inputs"/>
				<xs:element ref="outputs"/>
				<xs:element ref="help"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="when">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
